@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  font-family: Montserrat, WorkSans, sans-serif;
  padding: 0 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}
.headerfigure {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 45px;
}
.header__logo {
  width: 45px;
}
.header__nav {
  width: 348px;
  padding-top: 10px;
  padding-right: 290px;
}
.header__menu {
  padding-left: 0;
  list-style: none;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 348px;
  height: 26px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__btn {
  background-color: #ffffff;
  border-color: #9c69e2;
}
.header__btn:hover {
  background-color: #9c69e2;
  color: #ffffff;
}
.header__btn::after {
  content: "→";
  font-size: 16px;
  top: 5%;
  right: 2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 10px;
}
.header__btn:hover::after {
  margin-left: 5px;
}

.menu_link,
.link_footer {
  text-decoration: none;
  color: #2f281e;
}

.menu_link:hover,
.link_footer:hover {
  color: #8a40ee;
}

.btn {
  border-radius: 50px;
  width: 210px;
  height: 60px;
  cursor: pointer;
  font-size: 18px;
}

.content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.title {
  font-family: "Work Sans", sans-serif;
  color: #212353;
}

.title_1 {
  font-size: 80px;
  margin-top: 90px;
  width: 600px;
}

.title_3 {
  font-size: 80px;
}

.desc {
  color: #4b5d68;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0;
  width: 370px;
}

.img {
  max-width: 770px;
  width: 100%;
  height: auto;
  margin-top: 180px;
  position: absolute;
  margin-left: 360px;
}

.btn_learn {
  background-color: #9c69e2;
  color: #ffffff;
  border: none;
  margin-top: 30px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn_learn:hover {
  background-color: #8a40ee;
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.section_data {
  margin: 0 auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0;
  margin-top: 30px;
  height: 560px;
  background: #fde8f5;
  border-radius: 50px;
}

.content_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 20px;
  margin: 0;
  width: 1200px;
  margin-top: 100px;
}

.text-content {
  width: 500px;
  height: 340px;
  margin-left: 130px;
  margin-top: 110px;
  z-index: 1;
}

.img_data {
  max-width: 100%;
  width: 400px;
  margin-top: 75px;
  margin-left: 70px;
  z-index: 1;
}

.title_2 {
  font-size: 40px;
}

.desc_data {
  width: 500px;
}

.testimonials {
  background: url(../img/testimonials/bg_white.png), #ccddff;
  border-radius: 50px;
  padding: 80px 70px;
}

.title_testi {
  color: #4b5d68;
  font-size: 40px;
  text-align: center;
}

.testi-cards {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.testi-card {
  width: 465px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border: 1px solid #9c69e2;
  border-radius: 50px;
  border-width: 1px;
}

.testi-content {
  margin-left: 15px;
  margin-top: 50px;
  width: 300px;
  padding-right: 30px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 30px;
  margin-top: 50px;
}

.caption_testi {
  width: 130px;
  height: 26px;
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #212353;
  font-weight: 500;
}

.link_testi {
  text-decoration: none;
  color: #9c69e2;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.text_testi {
  height: 100px;
  color: #4b5d68;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 25.6px;
  padding-right: 30px;
}

.footer {
  margin-top: 210px;
}

.header_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn_footer {
  background-color: #f063b8;
  color: #ffffff;
  border: none;
  margin-right: 30px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn_footer:hover {
  background-color: #eb4bab;
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.desc_footer {
  width: 100%;
  font-weight: normal;
}

.title_footer {
  margin: 0;
}

.navigations {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts {
  width: 300px;
}

.contacts_info {
  margin-top: 60px;
}

.desc_info {
  font-size: 16px;
  font-weight: 500;
  width: 275px;
}

.desc_info_cont {
  font-weight: 400;
}

.footer_nav {
  margin-left: 90px;
}

.subject {
  font-size: 20px;
  width: 280px;
  height: 57px;
  color: #212353;
  margin-top: 10px;
}

.menu_footer {
  list-style: none;
  padding: 0;
  width: 135px;
}

.item_footer {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.menu_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  width: 180px;
}

.item_socials {
  list-style: none;
}

.item_socials_f:hover {
  content: url(../img/icons/facebook_hover.svg);
}

.item_socials_t:hover {
  content: url(../img/icons/twitter_hover.svg);
}

.item_socials_i:hover {
  content: url(../img/icons/instagram_hover.svg);
}

.item_socials_f:hover,
.item_socials_t:hover,
.item_socials_i:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.copyright {
  width: 100%;
  max-width: 275px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.features {
  margin-top: 120px;
}
.features__descr {
  color: #4b5d68;
  font-size: 18px;
  max-width: 637px;
  text-align: center;
  margin: 0 auto 80px;
  width: 100%;
  max-width: 637px;
}

.title_3 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 180px;
     -moz-column-gap: 180px;
          column-gap: 180px;
  row-gap: 130px;
  margin-left: 150px;
  padding-bottom: 150px;
}
.grid__bg {
  position: absolute;
  z-index: 0;
}
.grid__img {
  position: relative;
  margin-left: -170px;
  padding-top: 140px;
}
.grid__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  width: 230px;
  height: 276px;
  margin-left: 100px;
  margin-top: -280px;
}
.grid__header {
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  color: #212353;
  font-size: 24px;
  margin-bottom: 20px;
}
.grid__desc {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}
.grid__link {
  margin-top: auto;
  text-decoration: none;
  color: #212353;
  font-weight: 700;
}
.grid__link::after {
  content: "→";
  font-size: 16px;
  top: 5%;
  right: 2px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 10px;
}

@media (max-width: 992px) {
  .img_data {
    max-width: 30%;
  }
  .title_1 {
    font-size: 60px;
  }
  .desc,
  .desc_data {
    font-size: 15px;
  }
  .img {
    width: 60%;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .content,
  .navigations,
  .header_footer,
  .testi-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer_nav {
    margin: 0;
  }
  .header__nav {
    padding-right: 0;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}